<!DOCTYPE html>
<html>
<head>
    <title>Simple Real-time Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Simple Real-time Chat</h1>
    <div id="chatbox">
        </div>
    <input type="text" id="messageInput" placeholder="Enter message">
    <button onclick="sendMessage()">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>